@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

:root {
    --main-text-color: rgb(166, 0, 207);
    --main-text-hover: rgb(121, 0, 151);
    --card-outline: rgb(211, 211, 211);
}


a {
    color: var(--main-text-color);
}

a:hover {
    text-decoration: none;
    color: var(--main-text-color);

}

p {
    margin: 0;
}

body {
    background-color: rgb(252, 252, 252);
}

/* MY COMPONENTS */

.card-custom {
    border: 1px solid var(--card-outline);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    padding: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 
        "picture-container info-1 info-1"
        "picture-container info-2 info-2"
    ;
    margin: 20px 0;
}

@media (max-width: 576px) { 
    .card-custom {
        grid-template-areas: 
            "picture-container"
            "info-1"
            "info-2"
        ;
    }
}


/* NAVBAR */

.navbar-header-custom {
    font-family: 'Rowdies', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    color: #464646;
}

.navbar-header-custom .usagi {
    color: var(--main-text-color);
    margin-right: 20px;
}

.navbar-header-custom:hover {
    text-decoration: none;
    color: #464646;
}

.navbar-header-custom .usagi:hover {
    text-decoration: none;
    color: var(--main-text-color);
}

.nav-header-icon {
    height: 40px;
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--main-text-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-text-hover); 
}

/* BUTTONS */

.navbar-expand-lg .navbar-nav .nav-link.btn-outline-primary {
    padding: 0.5rem 1rem;
}
.btn-outline-primary {
    border-color: var(--main-text-color);
}

.btn-outline-primary:hover {
    background-color: var(--main-text-color);
}

.navbar-light .navbar-nav .nav-link.btn-outline-primary:hover {
    color: #ffffff;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

.btn-custom-1 {
    background-color: #fff;
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    padding: .5rem 1rem;
    transition: background-color .25s;
    margin: 0 10px;
    color: var(--main-text-color)
}

.btn-custom-2 {
    display: block;
    border: none;
    background-color: var(--main-text-color);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.btn-custom-2:hover {
    color: #fff;
}

.btn-custom-1:hover {
    color: #fff;
    background-color: var(--main-text-color);
}


  /* LOGIN */

.header-icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-icon {
    height: 100px;
    margin-right: 10px;
}

.header-icon-task {
    font-family: 'Rowdies', cursive;
    font-size: 2.5rem;
}

.header-icon-usagi {
    font-family: 'Rowdies', cursive;
    font-size: 2.5rem;
    color: var(--main-text-color)
}

.form-signin {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    
}

.form-signin button.login-btn{
    width: 300px;
    display: block;
    margin: 25px auto;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 900;
    background-color: var(--main-text-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 1s;
}

.form-signin button.login-btn:hover {
    background-color: var(--main-text-hover);
}

.login-container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 80vh;
}

/* DASHBOARD */

#dashboard .dashboard-tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#dashboard .next-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

#dashboard .dashboard-tasks-links {
    /* media stack to column */
}

#dashboard .image-container {
    margin-top: 50px;
}

#dashboard .dashboard-tool {
    height: 250px;
}

#dashboard .todo-container {
    margin: 25px 0;
}

#dashboard .todo-header {
    margin: 25px 0;
}

#id_todo {
    margin-top: 20px;
}

#dashboard .todo-submit {
    margin-left: 15px;
    border: none;
    color: #fff;
    border-radius: 20px;
    background-color: var(--main-text-color);
    font-weight: 900;
}

#dashboard .todo-delete {
    margin-left: 15px;
    border: none;
    color: #fff;
    border-radius: 20px;
    background-color: rgb(252, 99, 99);
    font-weight: 900; 
}

#dashboard .todo-submit-container {
    display: flex;
}

#dashboard .todo-item {
    border: 1px solid rgb(221, 221, 221);
    padding: .25rem .5rem;
    border-radius: 10px;
    width: 100%;
}

#dashboard .todo-item-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
/* FOOTER */

.page-footer {
    background-color: rgb(103, 99, 136);
    color: #fff;
}

.page-footer a {
    color: #fff;
    font-size: 1.25rem;
}

.footer-header {
    font-family: 'Rowdies', cursive;
}

/* BOOKING SEARCH */

#booking-search .picture {
    grid-area: picture;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#booking-search .picture-container {
    grid-area: picture-container;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#booking-search .profile-image{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}

#booking-search .info-1 {
    grid-area: info-1;
    display: flex;
    justify-content: space-between;
}

#booking-search .info-1 ul {
    list-style-type: none;
    padding: 0;
}


#booking-search .info-2 {
    grid-area: info-2;
}

#booking-search .search-form-container {
    margin-top: 1rem;
}

#booking-search .search-form-item {
    border: 1px solid var(--card-outline);
    border-radius: 5px;
    padding: 1rem;
    margin: 10px 0;

}

#booking-search .search-item-header {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
}

#booking-search .search-form-radio {
    margin-top: 10px;
}

#booking-search .search-form-control {
    display: block;
}

/* BOOKING LISTING */

#booking-list td,
#booking-list th {
    text-align: center;
    vertical-align: middle;
}