{% load static %}

<footer class="page-footer font-small pt-4" >
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="footer-header"><img class="header-icon" style="height: 50px;" src="{% static 'taskusagi/img/rabbit.svg' %}">TaskUsagi</h5>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Discover</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Become a tasker</a>
            </li>
            <li>
              <a href="#!">Buy a gift card</a>
            </li>
            <li>
              <a href="#!">Help</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Company</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">About Us</a>
            </li>
            <li>
              <a href="#!">Careers</a>
            </li>
            <li>
              <a href="#!">Press</a>
            </li>
            <li>
              <a href="#!">Blog</a>
            </li>
            <li>
              <a href="#!">Terms & Privacy</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mb-md-0 mb-3">
          <ul class="list-unstyled d-flex row">
            <li><a href=""><i class="fab fa-twitter fa-2x" style="margin: 0 10px;"></i></a></li>
            <li><a href=""><i class="fab fa-instagram fa-2x" style="margin: 0 10px;"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-square fa-2x" style="margin: 0 10px;" ></i></a></li>
          </ul>
          </div>
      </div>
    </div>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> TaskUsagi.com</a>
    </div>
  
  </footer>