<div class="row">
    <div class="col-md-6">
        <div class="card-custom">
            <div class="picture-container">
                <div class="picture">
                    <div class="profile-image" style="background-image: url({{ booking.seeker.user.profile_picture.url }})"></div>
                </div>
            </div>
            <div class="info-1">
               <div class="info-container">
                   <h2>{{ booking.seeker }}</h2>
                   <a href="{% url 'chat:my-messages' booking.id %}">{% if not booking.completed %}Message{% endif %}</a>
               </div>
            </div>
            <div class="info-2">
                
                <p>Scheduled for:</p>
                <p>{{ booking.booking }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-custom" style="display: flex; flex-direction: column;">
            <h4>Task info</h4>
            <p><strong>Task Type: </strong>{{ booking.category }}</p>
            <p><strong>Price: </strong>￥{{ booking.price }} /hr</p>
            <p><strong>Location: </strong> {{ booking.seeker.user.address }}</p>
            <p><strong>Notes: </strong>{{ booking.notes }}</p>
            <p><strong>Completed: </strong>
                {% if booking.completed %}
                <i class="fas fa-check" style="color: green;"></i>
                <p><strong>Rating: </strong>{{ review.rating }}</p>
                <p><strong>Review: </strong>{{ review.review }}</p>
                {% else %}
                --
                {% endif %}
            </p>
        </div>

    </div>
</div>