{% extends 'base.html' %}

{% block content %}
<section id="booking-list">
<div class="container">
    <h1 class="my-3">Your bookings</h1>
    
    {% include 'utilities/_messages.html' %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    {% if request.user.is_seeker %}
                    Tasker
                    {% else %}
                    Task Seeker
                    {% endif %}
                </th>
                <th scope="col">Scheduled</th>
                <th scope="col">Task Type</th>
                <th scope="col">Completed</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>
                    {% if request.user.is_seeker %}
                    {{ booking.tasker }}
                    {% else %}
                    {{ booking.seeker }}
                    {% endif %}
                </td>
                <td>{{ booking.booking}}</td>
                <td>{{ booking.category }}</td>
                <td style="text-align: center; vertical-align: middle;">
                    {% if booking.completed %}
                    <i class="fas fa-check" style="color: green;"></i>
                    {% endif %}
                </td>
                <td><a href="{{ booking.get_absolute_url }}">View</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
</section>

{% endblock%}