    <div class="messages-container">
        <div class="chat-list">
            {% if user.is_tasker %}
                {% for contact in contact_list %}
                <a style="color: inherit;" href="{% url 'chat:my-messages' contact.id %}">
                    <div class="chat-list-item-container">
                        <div class="chat-list-item-1">
                            <div class="profile-image-sm" style="background-image: url({{ contact.seeker.user.profile_picture.url }})"></div>
                            <div class="chat-list-item">
                                <p style="{% if not contact.get_most_recent_message.message_read %}font-weight: 900;{% endif %}">{{ contact.seeker }}</p>
                                <p class="chat-list-item-faded" style="{% if not contact.get_most_recent_message.message_read %}font-weight: 900;{% endif %}">{{ contact.get_most_recent_message.message|truncatechars:10 }}</p>
                            </div>
                        </div>
                        <div class="chat-list-item-2">
                            <div class="chat-list-item-date">
                                <p class="chat-list-item-faded">{{ contact.get_most_recent_message.message_created|date:"g:i a" }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                {% for contact in contact_list %}
                <a style="color: inherit;" href="{% url 'chat:my-messages' contact.id %}">
                    <div class="chat-list-item-container">
                        <div class="chat-list-item-1">
                            <div class="profile-image-sm" style="background-image: url({{ contact.tasker.user.profile_picture.url }})"></div>
                            <div class="chat-list-item">
                                <p style="{% if not contact.get_most_recent_message.message_read %}font-weight: 900;{% endif %}">{{ contact.tasker }}</p>
                                <p class="chat-list-item-faded" style="{% if not contact.get_most_recent_message.message_read %}font-weight: 900;{% endif %}">{{ contact.get_most_recent_message.message|truncatechars:10 }}</p>
                            </div>
                        </div>
                        <div class="chat-list-item-2">
                            <div class="chat-list-item-date">
                                <p class="chat-list-item-faded">{{ contact.get_most_recent_message.message_created|date:"g:i a" }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>