{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section id="messages">
    
        {% include 'chat/_contactlist.html' %}

        <div class="chat-window-container">
            <div class="chat-window">
                <div class="messages"></div>
            </div>
            <div class="chat-send-form">
                <form method="POST" id="send-message">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            {{ form.message|as_crispy_field }}
                        </div>
                        <input class="btn-custom-1"type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</section>
    
{% endblock %}

{% block scripts %}
<script>

    const messagesContainer = document.querySelector('.messages');
    const booking_id = {{ booking_id }}
    const receiverId = {{ receiver_id }}
    const senderId = {{ request.user.id }}
    const chatWindow = document.querySelector('.chat-window-container')
    let messagesId;
    
    // RECEIVE messages

    fetch(`messages/json/${booking_id}`)
        .then(response => response.json())
        .then(data => {
            let messages = [...data]
            // Set up initial messages
            messages.forEach(message => {
                console.log(message)
                if(message.sent['id'] === senderId){
                    messagesContainer.innerHTML += `
                        <div class="chat-sender">${message.message}</div>`
                } else {
                    messagesContainer.innerHTML += `
                        <div class="chat-receiver">${message.message}</div>`
                }
                })
            // Messages ID that will be used to filter new messages
            messagesId = messages.map(message => {
                return message.id
            })

        }
        )

    // Ajax call every 3 seconds to check for new messages and update template
    setInterval(function() {


    fetch(`messages/json/${booking_id}`)
        .then(response => response.json())
        .then(data => {
            data.forEach(new_message => {
                if(messagesId.indexOf(new_message.id) == -1) {
                    messagesId.push(new_message.id)

                if(new_message.sent['id'] === senderId){
                    messagesContainer.innerHTML += `
                        <div class="chat-sender">${new_message.message}</div>`
                } else {
                    messagesContainer.innerHTML += `
                        <div class="chat-receiver">${new_message.message}</div>`
                }
                }
            })
            document.querySelector('.btn-custom-1').scrollTop = document.querySelector('.btn-custom-1').scrollHeight; 
            console.log(document.querySelector('.btn-custom-1').scrollTop)
        }
        )
    }, 3000) 

    // SEND new message

    const submitMessage = document.querySelector('#send-message');
    
    submitMessage.addEventListener('submit', function(e) {
        const message = document.querySelector('#id_message').value;
        data = {
            'message': message,
            'receiver_id': receiverId,
        }
        submitMessage.reset();

        e.preventDefault()
        fetch(`messages/json/send_message/${booking_id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },

            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => console.log(data))
    })

</script>

{% endblock %}