{% extends 'base.html' %}

{% block content %}

<section id="tasker-profile">
    <div class="container">
        <h1 class="mt-5">{{ tasker }}'s profile </h1>

        <div class="row">
            <div class="col-md-12">
                <div class="card-custom-2">
                    <div class="info-1">
                       <div class="info-container">
                           <h2 style="text-align: center;">{{ tasker }}</h2>
                           <div class="picture-container" style="margin: 1rem 0;">
                            <div class="picture">
                                <div class="profile-image" style="background-image: url({{ tasker.user.profile_picture.url }}); width: 225px; height: 225px; border-radius: 50%;"></div>
                            </div>
                        </div>
                           <ul>
                               <li><i class="far fa-star"></i> {{ tasker.rating }} / 5 positive rating</li>
                               <li><i class="far fa-check-circle"></i> {{ tasker.completed }} tasks successfully completed</li>
                               <li><i class="fas fa-language"></i> {{ tasker.user.get_language }}</li>
                           </ul>
                       </div>
                    </div>
                    <div class="info-2">
                        <h4 class="mt-4">A bit about me...</h4>
                        <p>{{ tasker.user.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-custom-2">
                    <h2 class="text-center">Services offered:</h2>
                    <div class="info-container-detail">
                            {% for task in task_can_do %}
                            <div class="info-detail-item">
                                <div class="header-container">
                                    <h4>{{ task.get_category_display }}</h4>
                                    <p>{{ task.description }}</p>
                                </div>
                                <a class="btn-custom-1 ml-5" style="display: flex; align-items: center;" href="{% url 'booking:schedule-booking' _id=tasker.user.id category=task.category %}">Select for ￥{{ task.price }} /hr</a>
                            </div>
                            <hr>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card-custom-2" style="display: block;">
                    <h3 class="text-center my-3">Reviews</h3>
                    <div class="review-container" style="display: flex; flex-direction: column;">
                        {% for review in reviews %}
                        <div class="review-item-wrapper my-2" style="display: flex; align-items: center;">
                            <div class="review-item">
                                <div class="profile-image" style="background-image: url({{review.schedule.seeker.user.profile_picture.url}}); margin-right: 20px"></div>
                            </div>
                            <div class="review-item">
                                <div class="star-rating" data-rating="{{ review.rating }}" data-category="{{ review.schedule.category }}"></div>                                    
                                <div style="margin-top: 5px;">"{{ review.review }}"</div>
                                <div style="font-size: 0.8rem; color: grey; margin-top: 5px;">{{ review.schedule.seeker }}, {{ review.created }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% block scripts %}
<script>

const ratingDiv = document.querySelectorAll('.star-rating');

const ratingFunc = function(rating) {
    toNum = parseInt(rating);
    star_template = '<i class="fas fa-star" style="color: orange;"></i>';
    star_total = ''

    for(let i = 0; i <= rating - 1; i++) {
        star_total += star_template
    }

    return star_total
}

ratingDiv.forEach(e => {
    e.innerHTML = `<strong>${e.dataset.category}:</strong> ${ratingFunc(e.dataset.rating)}`
})

</script>
{% endblock %}

{% endblock %}