{% extends 'base.html' %}

{% block content %}

<section id="tasker-profile">
    <div class="container">
        <h1 class="mt-5">{{ tasker }}'s profile </h1>

        <div class="row">
            <div class="col-md-12">
                <div class="card-custom-2">
                    <div class="info-1">
                       <div class="info-container">
                           <h2 style="text-align: center;">{{ tasker }}</h2>
                           <div class="picture-container" style="margin: 1rem 0;">
                            <div class="picture">
                                <div class="profile-image" style="background-image: url({{ tasker.user.profile_picture.url }})"></div>
                            </div>
                        </div>
                           <ul>
                               <li><i class="far fa-star"></i> {{ tasker.rating }} / 5 positive rating</li>
                               <li><i class="far fa-check-circle"></i> {{ tasker.completed }} tasks successfully completed</li>
                               <li><i class="fas fa-language"></i> {{ tasker.user.get_language }}</li>
                           </ul>
                       </div>
                    </div>
                    <div class="info-2">
                        <h4 class="mt-4">A bit about me...</h4>
                        <p>{{ tasker.user.bio }}</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-custom-2">
                    <h2 class="text-center">Services offered:</h2>
                    <div class="info-container-detail">
                            {% for task in task_can_do %}
                            <div class="info-detail-item">
                                <div class="header-container">
                                    <h4>{{ task.get_category_display }}</h4>
                                    <p>{{ task.description }}</p>
                                </div>
                                <a class="btn-custom-1 ml-5" style="display: flex; align-items: center;" href="{% url 'booking:schedule-booking' _id=tasker.user.id category=task.category %}">Select for ￥{{ task.price }} /hr</a>
                            </div>
                            <hr>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card-custom-2">
                    <h3>Reviews</h3>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione recusandae voluptate perspiciatis molestias aliquam ut aspernatur explicabo, vero porro laudantium fugiat tempora sapiente deserunt soluta pariatur, consequuntur omnis dolore libero repellat distinctio? Minima maiores, odit, magnam quod aliquid deserunt doloribus illo necessitatibus, non amet sequi consequuntur at qui nam inventore. Veritatis accusamus aliquid quaerat aut amet enim adipisci, quam praesentium, reprehenderit consectetur ullam. Voluptates necessitatibus, laboriosam corrupti officiis odit quia expedita minus magnam pariatur illo laudantium dolore nam velit id minima cupiditate repellendus neque nulla! Commodi deleniti ex iure quae, aperiam ea libero exercitationem soluta cumque sit voluptatum, illum dolorum?
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}